{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <h2 class="m-4">Administrar tienda</h2>

    <div style="margin-left: 2rem;">
      <div><a href="{% url 'usuarios' 'crear' '0' %}">Mantenedor de usuarios</a><br></div>
      <div class="mt-2"><a href="{% url 'productos' 'crear' '0' %}">Mantenedor de productos</a><br></div>
      <div class="mt-2"><a href="{% url 'ventas' %}">Historial de ventas</a><br></div>
      <div class="mt-2"><a href="{% url 'bodega' %}">Mantenedor de bodega</a><br></div>
      {% if user.is_superuser %}
      <div class="mt-2"><a href="/admin">Administrador de Django</a><br></div>
      {% endif %}
    </div>
{% endblock content %}
