{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <!-- 
        AREA DE DATOS BASICOS: combobox de categoría, combobox de producto y cantidad.
        El Combobox de Producto se carga dependiendo del valor el Combobox de Categoría,
        para ello se usa jquery y ajax.
        (VER COMENTARIO "COMBOBOX DEPENDIENTES PARA CATEGORIA Y PRODUCTO" en bodega.js)
    -->
    

    <div class="m-5">
      <div class="container-fluid card col-md-8 col-lg-8">
        <div
          class="row card-header bg-primary text-white fw-semibold align-center2"
        >
          Mantenedor de bodega
        </div>
        <form id="form" method="POST">
          {%csrf_token%}
          <div class="row">
            <div class="col-lg-6 card-body caja">
              {{form|as_bootstrap_form}}
            </div>

            <!-- Imagen del producto -->
            <div
              class="col-lg-6 mt-3 d-flex flex-column justify-content-center align-items-center">
              <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}"></img>
            </div>
          </div>

          <!-- Boton Agregar -->
          <div class="m-2 align-center2">
            <button
              type="submit"
              class="btn btn-primary btn-block m-1"
              style="width: 6rem"
            >
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- AREA DE TABLA DE PRODUCTOS -->

    {% if productos %}

      <div class="card p-3 mb-5 mx-5 table-responsive">
        <table id="tabla-principal" class="table table-hover">
            <thead>
                <!-- AREA DE TITULOS DE LA TABLA -->
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Categoria </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Estado </th>
                    <th scope="col"> Imagen </th>
                    <th scope="col"> Acción </th>
                </tr>
            </thead>
            <tbody>
                <!-- AREA DE FILAS DE PRODUCTOS -->
                {% for producto in productos %}
                    <tr>
                        <td> {{ producto.bodega_id }} </td>
                        <td> {{ producto.nombre_categoria }} </td>
                        <td> {{ producto.nombre_producto }} </td>
                        <td> {{ producto.estado }} </td>
                        <td>
                            <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
                        </td>
                        <!-- Botón de eliminar producto de bodega, se activa sólo para productos no vendidos -->
                        <td>
                            {% if producto.estado == 'En bodega' %}
                                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}"
                                    class="btn btn-danger btn-sm"> Eliminar </a>
                            {% else %}
                                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}"
                                    class="btn btn-primary btn-sm disabled"> Eliminar </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

    {% endif %}
{% endblock content %}

{% block script %}
    <input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
    <script src="{% static 'core/js/bodega.js' %}"></script>
{% endblock script %}