{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  
<div class="container mt-5">
  <h1 class="text-center">Nosotros</h1>
  <br />
  <p class="lead">
    Bienvenido a Playopolis, tu destino número uno para los últimos
    videojuegos, consolas y accesorios. Nos enorgullece ofrecer una amplia
    selección de productos de alta calidad y un servicio excepcional para
    satisfacer las necesidades de todos los jugadores, desde los más
    casuales hasta los más ávidos.
  </p>
  <p>
    Con 3 años de experiencia en la industria, nos hemos comprometido a
    proporcionar una experiencia de compra excepcional para cada cliente.
    Nuestro equipo está formado por apasionados del juego que están aquí
    para ayudarte a encontrar los productos perfectos para tus necesidades,
    responder a tus preguntas y brindarte el mejor servicio posible.
  </p>
  <p>
    Explora nuestra tienda en línea para descubrir las últimas novedades en
    videojuegos, desde emocionantes lanzamientos hasta clásicos atemporales.
    ¡Gracias por elegir Playopolis como tu destino de videojuegos!
  </p>
</div>

<div class="container-fluid align-center2">
  <div class="row">
    <div class="card pt-2 m-2" style="width: 16rem">
      <img src="{% static 'core/img/GerenteG.png' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="text-center">Aoris Aguirre</h5>
        <div class="text-center">Gerente General</div>
        <div class="text-center">
          <a href="mailto:a.aguirre@playopolis.cl" class="btn-primary"
            >a.aguirre@playopolis.cl</a
          >
        </div>
      </div>
    </div>

    <div class="card pt-2 m-2" style="width: 16rem">
      <img src="{% static 'core/img/EncargadoM.png' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="text-center">Emanuel Farias</h5>
        <div class="text-center">Encargado de marketing</div>
        <div class="text-center">
          <a href="mailto:c.farias@playopolis.cl" class="btn-primary"
            >e.farias@playopolis.cl</a
          >
        </div>
      </div>
    </div>
    <div class="card pt-2 m-2" style="width: 16rem">
      <img src="{% static 'core/img/AtencionC.png' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="text-center">Saul Goodman</h5>
        <div class="text-center">Atención de clientes</div>
        <div class="text-center">
          <a href="mailto:s.goodman@playopolis.cl" class="btn-primary"
            >s.goodman@playopolis.cl</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br />
    
{% endblock content %}