{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h2 class="m-3 align-center2">Historial de ventas</h2>

    <div class="container card p-3 mb-5 table-responsive">
        <table id="tabla-principal" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th> Nro boleta </th>
                    <th> Cliente </th>
                    <th> Venta </th>
                    <th> Despacho </th>
                    <th> Entrega </th>
                    <th> Subscrito </th>
                    <th> Monto total </th>
                    <th> Estado actual </th>
                    <th> Detalle </th>
                    <th> Cambiar estado </th>
                </tr>
            </thead> 
            <tbody>
                {% for boleta in historial %}
                    {% if boleta.estado == 'Anulado' %}
                        <tr class="letra-boleta-anulada"> 
                    {% else %}
                        <tr>
                    {% endif %}
                        <td> {{boleta.nro_boleta}} <br> </td>
                        <td> {{boleta.nom_cliente}} <br> </td>
                        <td> {{boleta.fecha_venta|formatear_fecha}} <br> </td>
                        <td> {{boleta.fecha_despacho|formatear_fecha}} <br></td>
                        <td> {{boleta.fecha_entrega|formatear_fecha}} <br></td>
                        <td> {{boleta.subscrito}} <br> </td>
                        <td> {{boleta.total_a_pagar|formatear_dinero}} <br> </td>
                        <td> {{boleta.estado}} <br> </td>
                        <td> <a href="{% url 'boleta' boleta.nro_boleta %}" class="btn btn-sm btn-primary">Detalle</a> </td>
                        <td>
                            <span>
                                <div class="btn-group">
                                    <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Anulado' %}" class="btn btn-sm btn-danger">Anular</a>
                                    <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Vendido' %}" class="btn btn-sm btn-success">Vender</a>
                                    <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Despachado' %}" class="btn btn-sm btn-primary">Despachar</a>
                                    <a href="{% url 'cambiar_estado_boleta' boleta.nro_boleta 'Entregado' %}" class="btn btn-sm btn-secondary">Entregar</a>
                                </div>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}